#top_blank{
    height: 100px;
    text-align: center;
    font-size: 40;
}
#input_block{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#canvas_area{
    align-self: center;
    background-color: #ffffff;
    position: relative;
    width: 1000px;
    height: 600px;
    margin: auto;
}
#curve_canvas{
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 1000px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
}
#net_canvas{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 1000px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
}
#netnum_canvas{
    pointer-events: none;
    background-color: #00000000;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 1000px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
}
input {
    margin: auto;
}
button {
}